.homebody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
  .homebody h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: rgb(116, 228, 243);
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 3px;
  }
  
  .homebody p {
    font-size: 18px;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .slider {
    width: 400px; 
    overflow: hidden;
  }
  
  .slider img {
    width: 100%;
    display: none;
  }
  
  .thumbnail-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .thumbnail {
    width: 80px; 
    margin: 0 5px;
    cursor: pointer;
  }
  
  .thumbnail:hover {
    border: 2px solid #333;
  }
  