.navbar {
  background-color: #fff;
  overflow: hidden;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: rgba(0, 255, 255, 0.600);
  color: black;
}

.active {
  background-color: aqua;
}

.logoutButton {
  background-color: aqua;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  padding: 16.25px 16.25px; 
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.icon svg {
  font-size: 18px;
}

.logoutButton:hover {
  background-color: rgba(0, 255, 255, 0.600);
  color: rgb(255, 255, 255);
}